.key {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0px;
  padding: 1.5vh 2vw;
  border-radius: 5px;
  background-color: #555559;
  user-select: none;
  -webkit-user-drag: none;
  transition: background-color var(--keyboard-transition),
    color var(--keyboard-transition);
  transition-delay: calc(var(--flip-delay) * 4 + var(--flip-duration));
}

.key span {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8rem;
}

.key.none {
  background-color: #555559;
}
.key.close {
  background-color: var(--close-answer);
}
.key.wrong {
  color: #555559;
  background-color: var(--wrong-answer);
}
.key.correct {
  background-color: var(--correct-answer);
}

.key.clicked {
  animation: highlight 0.2s forwards;
}
.key:hover {
  cursor: pointer;
}

@keyframes highlight {
  0% {
  }
  100% {
    background-color: #86868f;
  }
}
