.key {
  flex: 1 1 0px;
  padding: 1.5vh 2vw;
  border-radius: 5px;
  background-color: #555559;
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
  vertical-align: middle;
  user-select: none;
  -webkit-user-drag: none;
  transition: background-color 1s calc(var(--flip-delay) * 5);
}

.key.none {
  background-color: #555559;
}
.key.close {
  background-color: var(--close-answer);
}
.key.wrong {
  background-color: var(--wrong-answer);
}
.key.correct {
  background-color: var(--correct-answer);
}

.key.clicked {
  animation: highlight 0.2s forwards;
}
.key:hover {
  cursor: pointer;
}

@keyframes highlight {
  0% {
  }
  100% {
    background-color: #86868f;
  }
}
