.card {
  height: min(min(4rem, 8vh), 56px);
  aspect-ratio: 1;
  font-size: min(min(4rem, 4vh), 40px);
  box-sizing: border-box;
  border: solid;
  border-width: 0.12em;
  border-radius: 10%;
  border-color: #7f7f7f;
  font-weight: bolder;
  text-align: center;
  vertical-align: center;
  line-height: calc(max(min(4rem, 4vh), 40px) + 0.12em);
}

.card.flip {
  animation: flip var(--flip-duration) linear 0s forwards;
  transition: background-color 0s calc(var(--flip-duration) / 2);
}

.card.jump {
  animation: jump var(--jump-duration) linear 0s backwards;
}

.card.disabled {
  background-color: var(--disbled-color);
  border-color: var(--disbled-color);
}
.card.underline {
  border-bottom-width: 0.28em;
}

@keyframes jump {
  0% {
  }
  50% {
    transform: perspective(200px) scale3d(1.15, 1.15, 1.15);
  }
  100% {
  }
}

@keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  49.999999% {
    border-color: #7f7f7f;
    transform: perspective(200px) rotate3d(0, 1, 0, -90deg);
  }
  50% {
    border-color: transparent;
    transform: perspective(200px) rotate3d(0, 1, 0, 90deg);
  }
  100% {
    border-color: transparent;
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
