.card {
  width: 1.5rem;
  height: 1.5rem;
  padding: 10px;
  border: solid;
  border-width: 3px;
  border-radius: 10%;
  border-color: #7f7f7f;
  font-weight: bolder;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5rem;
}

.card.animate {
  animation: flip var(--flip-duration) linear 0s forwards;
}

@keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  49.9999% {
    border-color: #7f7f7f;
    transform: perspective(200px) rotate3d(0, 1, 0, -90deg);
  }
  50% {
    border-color: transparent;
    transform: perspective(200px) rotate3d(0, 1, 0, 90deg);
  }
  100% {
    border-color: transparent;
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
