.keyboard {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--keyboard-gap);
}

.keyboard > div {
  display: flex;
  gap: inherit;
}
