body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

:root {
  /* default values */
  background-color: #093604;
  color: white;
  font-size: 4vmin;
  /* variables */
  --disbled-color: #0a4d03;
  --correct-answer: #42ba96;
  --close-answer: #ffc107;
  --wrong-answer: #10141f;
  --card-gap: max(0.25rem, 7px);
  --keyboard-gap: 6px;
  --keyboard-transition: 0.6s;
  --max-width: 600px;
  --flip-duration: 0.6s;
  --flip-delay: 0.3s;
  --jump-duration: 0.15s;
  --toast-duration: 0.25s;
}

html,
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
